
ul{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: white;
}


main{
    height:calc(100vh - 80px);
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    background-color: #061E34;
    background-image: url(./img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    width: 10%;
}

.center{
   width: 90%;
  margin-left: 10%;
}

.fa-code{
    width: 30px;
    height: 30px;
    border-radius:50% ;
    background-color:#F26551;
    color: white;
    text-align: center;
    padding-top: 5px ;
}